<div ng-controller="TableController">

    <div class="panel panel-default">
        <div class="panel-heading">
            Custom configurations
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-12">
                            <input type="checkbox" name="changeLimit" ng-model="changeLimit" value="1">
                            Change limitation
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12">
                            <input type="checkbox" name="pagBottom" ng-model="pagBottom" value="true">
                            Pagination on bottom
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12">
                            <input type="checkbox" name="breadcrumb" ng-model="breadcrumb" value="1">
                            Show Breadcrumb
                        </label>
                    </div>                

                    <div class="form-group">
                        <label class="control-label col-md-12">
                            <input type="checkbox" name="showSearch" ng-model="showSearch" value="1">
                            Show Search
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12">
                            <input type="checkbox" name="showCreate" ng-model="showCreate" value="1">
                            Show Create button
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12">
                            <input type="checkbox" name="showActions" ng-model="showActions" value="1">
                            Show Actions
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        <input type="checkbox" checked="true" name="action[view]" ng-click="addAction('view')">
                        view
                    </label>

                    <label class="control-label">
                        <input type="checkbox" checked="true" name="action[edit]" ng-click="addAction('edit')">
                        Edit
                    </label>

                    <label class="control-label">
                        <input type="checkbox" checked="true" name="action[remove]" ng-click="addAction('remove')">
                        Delete
                    </label>
                </div>
            </div>
        </div>
    </div>
    <table-grid 
        limit="limitation"
        model="model"
        actions="actions"
        custom-action="actionCustom"
        show-breadcrumb="breadcrumb"
        module-name="moduleName"
        with-search="showSearch"
        with-create="showCreate"
        with-actions="showActions"
        change-limit="changeLimit"
        lines="lines"
        order="name"
        pag-bottom="pagBottom"
        filter-options="{updateOn: 'blur'}"
        fields="[
            {label: 'Nome', column: 'name', type:'simple',sort:true}, 
            {label: 'Tipo', column: 'type', type:'simple', sort:true}, 
            {label: 'Link', column: 'name', url: 'https://google.com/', type:'link', sort:true }, 
            {label: 'Link', column: 'name', url: 'view', type:'link', sort:true }, 
            {label: 'File', column: 'file', type:'simple',sort:false}, 
            {label: 'User', column: 'name', fk: 'userId', type:'simple',sort:true}, 
            {label: 'Status', column: 'status', type:'template'}, 
            {label: 'Criação', column: 'created', filter: ['date', 'dd/MM/yyyy'], type:'filter'}, 
        ]">
    </table-grid>
</div>