<div class="panel panel-default">
    <div class="panel-heading">
        Custom configurations
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group">
                <label class="control-label col-md-12">
                    <input type="checkbox" name="hasIcon" ng-model="hasIcon" value="1">
                    Change limitation
                </label>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover table-condensed">
    <tr>
        <th>Status</th>
        <th>Type</th>
        <th>Element</th>
    </tr>
    <tr>
        <td>
            <label-item has-icon="hasIcon" item="status" index="0"></label-item>
            <label-item has-icon="hasIcon" item="status" index="1"></label-item>
        </td>
        <td>
            <label-item has-icon="hasIcon" item="type" index="1"></label-item>
            <label-item has-icon="hasIcon" item="type" index="2"></label-item>
            <label-item has-icon="hasIcon" item="type" index="3"></label-item>
        </td>
        <td>
            <label-item has-icon="hasIcon" item="element" index="1"></label-item>
            <label-item has-icon="hasIcon" item="element" index="2"></label-item>
            <label-item has-icon="hasIcon" item="element" index="3"></label-item>
        </td>
    </tr>
</table>