<div ng-if="actions.length>0 || customAction.length>0">
    
    <a ng-repeat="act in customAction" 
        ng-href="{{$root.createUrl(name, id, act.name)}}" 
        class="no-underline label label-{{act['label-ico']}}"
        uib-tooltip="{{act.label}}" tooltip-placement="top" tooltip-trigger="mouseenter">
        <i class="glyphicon glyphicon-{{act.ico}}"></i>
    </a>
    
    <a ng-if="actions.indexOf('view') != -1" ng-href="{{$root.createUrl(name, id, 'view')}}" class="no-underline label label-warning"
       uib-tooltip="Visualizar" tooltip-placement="top" tooltip-trigger="mouseenter">
        <span class="glyphicon glyphicon-eye-open"></span>
    </a>
    <a ng-if="actions.indexOf('edit') != -1" ng-href="{{$root.createUrl(name, id, 'edit')}}" class="no-underline label label-primary"
       uib-tooltip="Editar" uib-tooltip-placement="top" tooltip-trigger="mouseenter">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
    <a ng-if="actions.indexOf('remove') != -1" ng-href role="button" ng-click="delete(id)" class="no-underline label label-danger"
       uib-tooltip="Remover" tooltip-placement="top" tooltip-trigger="mouseenter">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>